<h1 style="color:white;">Login</h1>

<form action="/sessions" method='POST'>
  <p>
    <label for="username" style="color:white;">Username:</label>
    <input type="text" name="username" id="username" />
  </p>
  
  <input type="submit" />
  
</form>