<h1>Login</h1>
<p><%= @error %></p>
<form action="/login" method='POST'>
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" />
  </p>
  
  <input type="submit" />
  
</form>