<h1>Sign-up</h1>

<form action="/sessions" method='POST'>
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="text" name="password" id="password" />
  </p>
  
  <input type="submit" />
  
</form>