<h1 style="color:white;">Sign-up</h1>

<form action="/sessions" method='POST'>
  <p>
    <label style="color:white;" for="username">Username:</label>
    <input type="text" name="username" id="username" />
  </p>
  <p>
    <label style="color:white;" for="password">Password:</label>
    <input type="text" name="password" id="password" />
  </p>
  
  <input type="submit" />
  
</form>