<h1><%= @gearsets.name %></h1>
<img src=<%= @gearsets.image %>>
<form action="/gearsets/<%= @gearsets.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <% if session[:username] == @gearsets.user.username %>
  <button type="submit">Delete</button>
  <% end %>
</form>