<head>
  <title>MHW Material Lister</title>
</head>

<body>
<center><h1>Welcome to the Monster Hunter World material lister!</h1></center>
<div align="right">
  You are logged in as 
</div>

<center><a href="/login" style="font-size: 12px; font-weight: bold;">Login</a></center>
<center><a href="/signup" style="font-size: 12px; font-weight: bold;">Sign-up</a></center>

</body>