<h1>Login</h1>

<form action="/sessions" method='POST'>
  <p>
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" />
  </p>
  
  <input type="submit" />
  
</form>