<head>
  <title>MHW:Iceborne Gear Lister</title>
</head>

<body>
<center><h1 style="color:white;">Welcome to the Monster Hunter World: Iceborne gear lister!</h1></center>
<h3 style="color:white;">Gear sets</h3>


<center><a href="/login" style="font-size: 32px; font-weight: bold;">Login</a></center>
<center><a href="/signup" style="font-size: 32px; font-weight: bold;">Sign-up</a></center>

</body>